@font-face {
    font-family: 'Graphik';
    src: url('/assets/fonts/Graphik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

main {
    font-family: 'Graphik', sans-serif;
    background-color: #f0f0f0;
    color: #00497C;
}

.not-found-container {
    width: 100%;
    text-align: center;
    padding-top: 10vh;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    width: 80%;
}